<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <h1>Reading Post</h1>
    <p>Title: <%= blog.title %></p>
    <p>Author: <%= blog.author %></p>
    <p>Body: <%= blog.body %></p>
    <p>Created at: <%= blog.date %></p>
    <h1>Post comments here</h1>
    <div>
      <form class="comment-form">
        Nickname:
        <input type="text" id="commenter" autocomplete="off" required />
        Comment:
        <input type="text" id="comment" autocomplete="off" required />
        <input id="pid" value=<%= +blog.date %> hidden>
        <button type="submit">Add Comment</button>
      </form>
      <ul>
        <% for (i=0; i < blog.comments.length; i++) { %>
          <li><%= blog.comments[i].body %> by <%= blog.comments[i].nickname %> at <%= blog.comments[i].date %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
