<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <% include partials/sidebar.ejs %>
        <div class="col-sm-8 col-md-6">
          <div class="post-preview">
            <p class="post-title">
              <%= blog.title %>
            </p>
            <p class="post-meta"><%= blog.date %></p>
            <%- blog.body %></br>
          </div>
          <hr>
          <hr>
          <div>
            <ul>
              <% for (i=0; i < blog.comments.length; i++) { %>
              <div>
                <%- blog.comments[i].body %>
                <p class="post-meta">
                  <%= blog.comments[i].nickname %> at <%= blog.comments[i].date %>
                </p>
                <hr>
              </div>
              <% } %>
            </ul>
            <ul>
              <form class="comment-form">
                <input type="text" id="commenter" placeholder="nickname" autocomplete="off" required />
                <div id="comment"></div>
                <input id="pid" value=<%= +blog.date %> hidden />
                <button type="submit">Add Comment</button>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
